.moviePicker {
  position: relative;
  text-align: center;
  height: 100%;
  overflow: hidden;
  input {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 90%;
    background-color: transparent;
    color: #FFF;
    border:none;
    border-bottom: 2px solid #FFF;
    font-size: 42px;
    text-align: center;

    &::placeholder {
      color: #FFF;
    }
  }
  .blank-poster {
    margin: 20px auto;
    width: 185px;
    height: 278px;
  }
  .selected-poster {
    margin: 20px auto;
  }
}