.moviePicker {
  text-align: center;
  
  input {
    font-size: 22px;
  }
  .blank-poster {
    margin: 20px auto;
    width: 185px;
    height: 278px;
  }
  .selected-poster {
    margin: 20px auto;
  }
}