.loading-recommendation {
  font-family: 'Permanent Marker', cursive;
  color: rgba($black, 0.75);
  font-size: 30px;
  width: 140px;
  margin: 0 auto;
  &::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 1em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1em;    
  }
}